<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <link rel="shortcut icon" href="./main/img/favicon.ico">

    <meta name="description" content="Bootstrap Admin App + jQuery">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>江苏省生态环境信访举报信息系统</title>
    <script type="text/javascript" src="webjars/fw-web/main/common/vue-boot.js"></script>
    <script type="text/javascript" src="webjars/fw-web/main/common/RSA.js"></script>
    <link rel="stylesheet" href="./main/css/login/login.css">
</head>
<body>
<div id="app" v-cloak style="padding: 0;margin: 0;">
    <template>
        <el-container>
            <el-header>
                <img src="./main/img/logo.png" alt="江苏省生态环境信访举报信息系统"/>
            </el-header>
            <el-main :class="bgImgClass">
                <el-card :class="'resetpsw'">
                    <div slot="header" class="card-header">
                        <span>重置密码</span>
                    </div>
                    <el-form :model="loginForm" busiStatus-icon :rules="loginRule" ref="loginForm" label-width="0px">
                        <el-form-item prop="phoneNum">
                            <el-row :gutter="20">
                                <el-col :span="24">
                                    <el-input v-model="loginForm.phoneNum" placeholder="手机号码" @focus="resetValidate('phoneNumMsg')"
                                              prefix-icon="iconfont icon-shouji" @keyup.enter.native="submitForm('loginForm')" auto-complete="off" :maxlength="11" :minlength="11">
                                    </el-input>
                                </el-col>
                            </el-row>
                            <el-row :gutter="20" v-show="phoneNumMsg != ''">
                                <el-col :span="24" class="errMsg">
                                    <span v-text="phoneNumMsg"></span>
                                </el-col>
                            </el-row>
                        </el-form-item>
                        <el-form-item prop="verificationCode">
                            <el-row :gutter="20">
                                <el-col :span="14">
                                    <el-input v-model="loginForm.verificationCode" placeholder="验证码" @focus="resetValidate('verificationCodeMsg')"
                                              prefix-icon="iconfont icon-yanzhengma" @keyup.enter.native="submitForm('loginForm')" :maxlength="4" :minlength="4"></el-input>
                                </el-col>
                                <el-col :span="10" class="imgCode">
                                    <img :src = "verificationCodeUrl" @click="changeImgValidate()" style="padding-top: 10px;">
                                </el-col>
                            </el-row>
                            <el-row :gutter="20" v-show="verificationCodeMsg != ''">
                                <el-col :span="24" class="errMsg">
                                    <span v-text="verificationCodeMsg"></span>
                                </el-col>
                            </el-row>
                        </el-form-item>
                        <el-form-item prop="smsCode">
                            <el-row :gutter="20">
                                <el-col :span="14">
                                    <el-input v-model="loginForm.smsCode" placeholder="手机验证码" @focus="resetValidate('smsCodeMsg')"
                                              prefix-icon="iconfont icon-duanxin" @keyup.enter.native="submitForm('loginForm')" :maxlength="6" :minlength="6"></el-input>
                                </el-col>
                                <el-col :span="10">
                                    <el-button v-show="smsBtnShow" @click="getSmsCode('loginForm')" style="width: 117px; height: 40px; padding: 12px;">获取验证码</el-button>
                                    <el-button v-show="!smsBtnShow" :disabled="!smsBtnShow" style="width: 110px;height: 40px; padding: 12px; margin-left: 5px;">
                                        <span v-text="smsBtnMsg"></span>
                                    </el-button>
                                </el-col>
                            </el-row>
                            <el-row :gutter="20"  v-show="smsCodeMsg != ''">
                                <el-col :span="24" class="errMsg">
                                    <span v-text="smsCodeMsg"></span>
                                </el-col>
                            </el-row>
                        </el-form-item>
                        <el-form-item prop="password">
                            <el-row :gutter="20">
                                <el-col :span="24">
                                    <el-input v-model="loginForm.password" placeholder="新密码，字母和数字，6到18位之间" @focus="resetValidate('passwordMsg')"
                                              :minlength="6" :maxlength="18"
                                              prefix-icon="iconfont icon-mima" @keyup.enter.native="submitForm('loginForm')" auto-complete="off" type="password"></el-input>
                                </el-col>
                            </el-row>
                            <el-row :gutter="20" v-show="passwordMsg != ''">
                                <el-col :span="24" class="errMsg">
                                    <span v-text="passwordMsg"></span>
                                </el-col>
                            </el-row>
                        </el-form-item>
                        <el-form-item prop="passwordCheck">
                            <el-row :gutter="20">
                                <el-col :span="24">
                                    <el-input v-model="loginForm.passwordCheck" placeholder="请再一次输入密码" @focus="resetValidate('passwordMsg')"
                                              :minlength="6" :maxlength="18"
                                              prefix-icon="iconfont icon-mima1" @keyup.enter.native="submitForm('loginForm')" auto-complete="off" type="password"></el-input>
                                </el-col>
                            </el-row>
                            <el-row :gutter="20" v-show="passwordMsg != ''">
                                <el-col :span="24" class="errMsg">
                                    <span v-text="passwordMsg"></span>
                                </el-col>
                            </el-row>
                        </el-form-item>
                        <el-form-item>
                            <el-button :loading="loginLoading" type="primary" @click="submitForm('loginForm')" ><span v-text="loginBtnMsg"></span></el-button>
                        </el-form-item>
                    </el-form>
                    <div class="card-footer resetpsw">
                        <div><a href="login.html">想起密码了？</a><a href="register.html">还没有注册？</a></div>
                        <div>
                            <span class="warning">为保证系统稳定，建议使用</span>
                            <a href="https://pan.baidu.com/s/1dTB0K2">谷歌浏览器</a>
                        </div>
                    </div>
                </el-card>
            </el-main>
            <el-footer>
                <span> &copy; 2017 - 江苏梦兰神彩科技股份有限公司</span>
            </el-footer>
        </el-container>
    </template>
</div>
<script type="text/javascript" src="./main/js/login/resetpsw.js"></script>
</body>