<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- spring-mybatis.xml -->
	<!-- 配置数据源，连接池 -->
	<!-- Mybatis 的sqlSessionFactory -->
	<!-- Mapper 接口自动扫描 -->

	<!-- 配置数据源连接池-->
	<!-- ?useUnicode=true&amp;characterEncoding=utf-8:处理JDBC中文编码问题 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		  <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		  <property name="url" value="jdbc:mysql://47.96.112.137:3306/pharmacy?useUnicode=true&amp;characterEncoding=utf-8"/>
		  <property name="username" value="root"/>
		  <property name="password" value="123456"/>
		  <property name="maxActive" value="50"/>
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<bean id="namedParameterJdbcTemplate"
		  class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="dataSource"/>
	</bean>

	<!-- sessionFactory -->
	<!--<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
		<!--<property name="dataSource" ref="dataSource"/>-->
		<!--&lt;!&ndash; resource:/mapper/UserMapper.xml &ndash;&gt;-->
		<!--<property name="mapperLocations" value="classpath:mapper/*.xml"/>-->
	<!--</bean>-->
	<bean id="sqlSessionFactory" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mapperLocations">
			<list>
				<value>classpath:mybatis/entity/*.xml</value>
			</list>
		</property>

		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
		<property name="typeAliasesPackage" value="com.shencai.**.entity"/><!-- 多个包逗号分隔 , com.shencai.system.entity-->
		<!-- 全局配置注入 -->
		<!--<property name="globalConfig" ref="globalConfig"/>-->
	</bean>

	<!-- 配置Mapper接口扫描 -->
	<bean  id="mapperScanner"
		   class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 扫描cn.tedu.note.dao接口中的mapper接口 -->
		<property name="basePackage" value="com.xinhe.**.mapper"/>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	</bean>

	<!-- 创建事务管理器Bean -->
	<bean id="txMgr" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    	<!-- 事务管理器必须注入 dataSource 对象 -->
    	<property name="dataSource"  ref="dataSource" />
	</bean>
	<!-- 开启事务注解支持，可以使用注解管理事务-->
	<!-- 必须注入 事务管理器对象 -->
	<tx:annotation-driven  transaction-manager="txMgr"/>

	<!-- 配置注解实现管理事务（cglib：proxy-target-class="true"） -->
	<tx:annotation-driven proxy-target-class="true"/>

	<!-- 事务管理 属性 -->
	<!--<tx:advice id="transactionAdvice">-->
		<!--<tx:attributes>-->
			<!--<tx:method name="add*" />-->
			<!--<tx:method name="append*" />-->
			<!--<tx:method name="save*" />-->
			<!--<tx:method name="update*" />-->
			<!--<tx:method name="modify*" />-->
			<!--<tx:method name="edit*" />-->
			<!--<tx:method name="insert*" />-->
			<!--<tx:method name="delete*" />-->
			<!--<tx:method name="remove*" />-->
			<!--<tx:method name="repair" />-->

			<!--<tx:method name="get*"  read-only="true"/>-->
			<!--<tx:method name="find*"  read-only="true"/>-->
			<!--<tx:method name="list*"  read-only="true"/>-->
			<!--<tx:method name="query*"  read-only="true"/>-->
			<!--&lt;!&ndash;<tx:method name="*"  read-only="true"/>&ndash;&gt;-->
		<!--</tx:attributes>-->
	<!--</tx:advice>-->

	<!-- 配置事务的切入点 -->
	<!--<aop:config>-->
		<!--<aop:pointcut id="transactionPointcut" expression="execution(* com.shencai..*.service.impl..*.*(..))"/>-->
		<!--<aop:advisor pointcut-ref="transactionPointcut" advice-ref="transactionAdvice"/>-->
	<!--</aop:config>-->

</beans>