<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>信和药店药品管理系统-列表页面</title>
    <script type="text/javascript" src="/main/scripts/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/main/style/list.css">
</head>
<body>
    <div id="app" v-cloak>
        <template v-if="list.length">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>商品名称</th>
                        <th>商品单价</th>
                        <th>商品数量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in list">
                        <td>{{index + 1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>
                            <button v-on:click="handReduce(index)"
                                :disabled="item.count===1">-</button>
                            {{item.count}}
                            <button @click="handAdd(index)">+</button>
                        </td>
                        <td>
                            <button @click="handRemove(index)">移除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>总价：￥{{totalPrice}}</div>
        </template>
        <div v-else>购物车为空</div>

    </div>
    <script src="/main/view/list.js"></script>
</body>
</html>

